.header {
    background: var(--black) !important;
    color: var(--white);
}

body {
    background: var(--white);
    color: var(--black);
}

.vacancies {
    margin-top: 40px;
    margin-bottom: 60px;

    &-title {
        color: var(--dark);
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 40px;
        text-align: center;
        overflow-wrap: break-word;
    }

    &__accardeon {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &__item {
            display: flex;
            flex-direction: column;
            border: 1px solid #707070;

            &__btn {
                padding: 30px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 15px;
                cursor: pointer;

                &-text {
                    color: var(--black);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                }

                svg {
                    width: 33px;
                    height: 33px;
                    min-height: 33px;
                    min-width: 33px;
                    transform: rotateX(180deg);
                    transition: 300ms;
                }
            }

            &__content {
                padding: 10px 30px 40px;
                display: none;
                flex-direction: column;
                gap: 35px;


                .text__redactor {

                    h2 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 130%;
                        color: var(--dark);
                        margin-bottom: 25px;
                        margin-top: 10px;
                    }

                    p {
                        color: var(--dark);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: 0.5px;
                        margin-bottom: 25px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        margin-bottom: 25px;

                        li {
                            color: var(--dark);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            list-style: symbols();
                        }
                    }
                }

                .accordeon__contacts {
                    display: flex;
                    flex-direction: column;
                    gap: 35px;

                    &-number {
                        color: var(--yellow);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                    }

                    &__share {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        a {
                            width: 34px;
                            height: 34px;

                            svg {
                                width: 34px;
                                height: 34px;

                                path {
                                    // fill: red;
                                    transition: 300ms;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1400px) {
    .vacancies-title {
        font-size: 52px;
    }
}

@media (max-width: 1200px) {
    .vacancies-title {
        font-size: 50px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 23px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 23px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 23px;
    }
}

@media (max-width: 1000px) {
    .vacancies-title {
        font-size: 48px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 22px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 22px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 22px;
    }

    .vacancies__accardeon__item__btn svg {
        width: 27px;
        height: 27px;
        min-height: 27px;
        min-width: 27px;
    }
}

@media (max-width: 900px) {
    .vacancies-title {
        font-size: 46px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 21px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 21px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 21px;
    }
}

@media (max-width: 800px) {
    .vacancies-title {
        font-size: 44px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 20px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 20px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 20px;
    }

    .vacancies__accardeon__item__content {
        gap: 30px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts {
        gap: 30px;
    }

    .vacancies__accardeon__item__btn svg {
        width: 24px;
        height: 24px;
        min-height: 24px;
        min-width: 24px;
    }

}

@media (max-width: 700px) {
    .vacancies-title {
        font-size: 41px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 19px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 19px;
    }
}

@media (max-width: 620px) {
    .vacancies-title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    .vacancies__accardeon__item__content .text__redactor p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .vacancies__accardeon__item__content .text__redactor ul li {
        font-size: 15px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 19px;
    }

    .vacancies__accardeon__item__content {
        padding: 5px 20px 30px;
        gap: 25px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts {
        gap: 25px;
    }

    .vacancies__accardeon__item__btn {
        padding: 20px;
    }

    .vacancies__accardeon__item__content .text__redactor ul {
        margin-bottom: 20px;
        gap: 12px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 18px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts__share a {
        width: 30px;
        height: 30px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .vacancies__accardeon__item__btn svg {
        width: 21px;
        height: 21px;
        min-height: 21px;
        min-width: 21px;
    }

    .vacancies__accardeon{
        gap: 35px;
    }
}

@media (max-width: 520px) {
    .vacancies-title {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        font-size: 17px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 17px;
    }

}

@media (max-width: 450px) {
    .vacancies-title {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .vacancies__accardeon__item__content .text__redactor p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .vacancies__accardeon__item__content .text__redactor ul li {
        font-size: 14px;
    }

    .vacancies__accardeon__item__content .text__redactor h2 {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .vacancies__accardeon__item__btn-text {
        font-size: 18px;
    }

    .vacancies__accardeon__item__content .text__redactor ul {
        gap: 9px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts-number {
        font-size: 16px;
    }

    .vacancies__accardeon__item__content {
        gap: 20px;
    }

    .vacancies__accardeon__item__content .accordeon__contacts {
        gap: 20px;
    }

    .vacancies__accardeon{
        gap: 30px;
    }
}

@media (max-width: 400px) {
    .vacancies-title {
        font-size: 26px;
    }

    .vacancies__accardeon__item__content {
        gap: 15px;
    }

    .vacancies__accardeon__item__content {
        padding: 5px 15px 25px;
    }

    .vacancies__accardeon__item__btn {
        padding: 10px 15px;
    }
}