:root {
	--black: #151515;
	--white: #FFF;
	--yellow: #F18331;
	--dark: #252525;
	--grey: #f6f7fb;
	--verygrey: #696969;
}

.hover__uderline {
	position: relative;
	&::before {
		background: var(--ye);
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		width: 0;
		height: 2px;
		content: "";
		transition: 0.3s ease;
	}
	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.title {
	color: var(--white);
	font-family: 'Gilroy';
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 48px */
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.block{
	display: none !important;
}

.iti {
	width: 100% !important;
	max-width: 100% !important;
}

@media (max-width: 575.98px) {
	.title {
		margin-bottom: 20px;
		font-size: 1rem;
	}
}
